
$fondo-principal : rgba(218, 218, 218, 0.863);
$fondo-principal-oscuro : #111;
$fondo-principal-gris : #fff;
$fondo-azul : #071c3380;

$fuente-clara : #fff;
$fuente-oscura-clara: #777;
$fuente-oscura: #111;

